body {
    background-color: rgb(38, 43, 47);
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: x-large;
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 2, 69);
}

header img {
    width: 90px;
}

header a {
    color: white;
    text-decoration: none;
}

#headerLeftDiv {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}

#headerRightDiv {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

#videoTitleDiv {
    height: 40vh;
}

#titleDiv {
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1,
h2 {
    font-size: xx-large;
    text-align: center;
    text-shadow: 3px 3px 2px black;
}

h3 {
    text-align: center;
}

.clubName {
    font-weight: bold;
    color: bisque;
}

#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#presentation .quilles {
    width: 20%;
    object-fit: cover;
    height: 80vh;
}

#presentation #containerDescriptionMedia #description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#presentation #containerDescriptionMedia #description h4 {
    margin-top: -20px;
}

#presentation #containerDescriptionMedia #description p {
    margin-top: -2px;
}

.FFBSQ {
    margin-bottom: 30px;
    font-size: medium;
}

#presentation #containerDescriptionMedia #socialMedia {
    border: 2px solid white;
    text-align: center;
    border-radius: 15px;
}

#presentation #containerDescriptionMedia #socialMedia h4 {
    margin-top: -1px;
}

#presentation #containerDescriptionMedia #socialMedia #allSocialMedia {
    display: flex;
    justify-content: space-around;
}

#presentation #containerDescriptionMedia #socialMedia #allSocialMedia div {
    display: flex;
    flex-direction: column;
}

#presentation #containerDescriptionMedia #socialMedia #allSocialMedia div a {
    color: white;
    text-decoration: none;
}

#presentation #containerDescriptionMedia #socialMedia img {
    width: 100px;
}

#galleryPics {
    display: flex;
}

#galleryPics img {
    width: calc(100%/4);
    object-fit: cover;
}

#maps {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid purple;
}

#maps #containerMapsTraject {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

#maps #containerMapsTraject #iframeContainer {
    width: 100%;
}

#maps #containerMapsTraject #trajects {
    width: 75%;
}

#calendarSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid purple;
}

#calendarSection #calendar {
    width: 90%;
}

#scoreSection #container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreSection #scoreDescription {
    text-align: center;
    width: 70%;
}

#scoreSection #scoreDescription span {
    font-weight: bold;
}

#scoreSection #scoreDescription #spare {
    color: orange;
}

#scoreSection #scoreDescription #strike {
    color: yellow;
}

#scoreSection #calculScoreDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
}

#scoreSection #calculScoreDiv #inputAddScore {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#scoreSection #calculScoreDiv #inputAddScore div {
    display: flex;
    flex-direction: column;
}

#scoreSection #calculScoreDiv #inputAddScore #round10Label {
    font-size: medium;
}

#scoreSection #calculScoreDiv #showScore {
    width: 80%;
}

#scoreSection #calculScoreDiv #showScore #displayScore {
    display: flex;
}

#scoreSection #calculScoreDiv #showScore #displayScore .caseShowScore {
    border: 2px solid rgb(1, 232, 1);
    width: calc(100em/10);
}

#scoreSection #calculScoreDiv #showScore #displayScore .caseShowScore #scoreGiven {
    display: flex;
    justify-content: space-around;
}

#scoreSection #calculScoreDiv #inputAddScore option {
    text-align: center;
}